body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

table {
    width: 500px;
    border-collapse: collapse;
    /* border-spacing: 10px; */
    margin: 20px 0;
}

table thead {
    background-color: #dae1f8;
}

table td, th {
    border: #6395ff 1px solid;
    padding: 5px 10px;
} 

table tfoot {
    font-weight: bold;
    background-color: #5776b1;
    color: #fff;
    text-align: end;
}
